<%= render 'head' %>

<body class="api">
  <%= render 'header' %>

  <div class="sub-nav">
    <h2><a href="/v3/">LFE Docs</a></h2>

    <ul>
      <li><a href="/v3/" class="active">Getting Started</a></li>
      <li><a href="/webhooks/">Reference</a></li>
      <li><a href="/guides/">Creating Apps</a></li>
      <li><a href="/guides/">Tooling</a></li>
      <li><a href="/guides/">Contributing</a></li>
      <li><a href="/libraries/">Other Versions</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>

    <%= render 'sidebar' %>
  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
