<div id="header-wrapper">
  <div id="header">
    <div>
      <a class="logo" href="/">LFE Documentation Site</a>
      <ul class="nav">
        <li><a href="/v3/" class="nav-api">Docs</a></li>
        <li><a href="/program/" class="nav-developers">Resources</a></li>
        <li><a href="/community/" class="nav-developers">Community</a></li>
        <li><a href="http://blog.lfe.io/">Blog</a></li>
        <li><a href="http://lfe.io/">Main Site</a></li>
        <li id="search-container">
          <input type="text" id="searchfield" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /><label class="search-placeholder">Search</label>
          <div class="cancel-search"></div>
          <ul id="search-results">

          </ul>
        </li>
      </ul>
    </div>
  </div><!-- #header -->
</div><!-- #header-wrapper -->
