<%= render 'head' %>

<body class="api">
  <%= render 'header' %>

  <div class="sub-nav">
    <h2><a href="/v3/">LFE Docs</a></h2>

    <ul>
      <li><a href="/guides/getting-started/">Getting Started</a></li>
      <li><a href="/v3/">Reference</a></li>
      <li><a href="/guides/">Creating Apps</a></li>
      <li><a href="/webhooks/">Tooling</a></li>
      <li><a href="/guides/">Contributing</a></li>
      <li><a href="/libraries/" class="active">Other Versions</a></li>
    </ul>
  </div>
  
  <div class="wrapper library-list">
    <%= yield %>
  </div>

  <%= render 'footer' %>
</body>
</html>
