<%= render 'head' %>

<body class="api">
  <%= render 'header' %>

  <div class="sub-nav">
    <h2><a href="/v3/">LFE Docs</a></h2>

    <ul>
      <li><a href="/guides/getting-started//">Getting Started</a></li>
      <li><a href="/v3/" class="active">Reference</a></li>
      <li><a href="/guides/">Creating Apps</a></li>
      <li><a href="/webhooks/">Tooling</a></li>
      <li><a href="/guides/">Contributing</a></li>
      <li><a href="/libraries/">Other Versions</a></li>
    </ul>
  </div>
  
  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>

    <div id="js-sidebar" class="sidebar-shell">
      <div class="sidebar-module">
        <ul>
          <li><h3><a href="/webhooks">Overview</a></h3></li>
          <li><h3><a href="/webhooks/creating">Creating webhooks</a></h3></li>
          <li><h3><a href="/webhooks/configuring/">Configuring your server</a></h3></li>
          <li><h3><a href="/webhooks/testing/">Testing webhooks</a></h3></li>
          <li><h3><a href="/webhooks/securing">Securing your webhooks</a></h3></li>
        </ul>
      </div>

      <div class="sidebar-module notice">
        <p>This website is a <a href="https://github.com/lfe/docs2" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
      </div>
    </div><!-- sidebar-shell -->
  </div><!-- #wrapper -->
  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
